<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client Dashboard</title>
  <style>
      *{
        text-align: center;
      }
      .table-data {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.table-data th,
.table-data td {
    padding: 12px 15px;
}
.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
  </style>
</head>
<body>
    <h1>Welcome</h1>
    <div class="table-data">
        <h2>Available Books</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Name</th>
                </tr></thead>
                
                <% if(result.length){ 
                    for(var i = 0;i < result.length;i++) { %>
                        <tbody>
                <tr>
                    <td><%=result[i].ISBN %></td>
                    <td><%=result[i].NAME %></td>
                </tr></tbody>
                <% } %>
                <% } else{ %>
                    <tbody><tr>
                        <td colspan="7">No Data Found</td>
                    </tr></tbody>
                <% } %>
            </table>
            </div>
            <div class="login-form">
                <h1>Add a Book</h1>
                <form action="/addbk" method="POST">
                    <input type="text" name="ISBN" placeholder="ISBN" required>
                    <input type="text" name="NAME" placeholder="NAME" required>
                    <input type="submit">
                </form>
            </div>
</body>
</html>